/* The navigation bar */
.title{
  /* height: 100%;
 width: 100%;
 display: flex;
 position: fixed;
 align-items: center;
 justify-content: center;
 font-family: sans-serif; */
}

.navbar {
    overflow: hidden;
    background: #0A002B;
    /* position: fixed;  */
    margin: auto;
    top: 0;
    width: 50%;
}

/* Links inside the navbar */
.navbar a, .logout{

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name {
    float: left;
    display: block;
    color: #BB0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* #map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */
/* MODAL */
