@font-face {
  font-family: 'moonhouse';
  src:url("./fonts/moonhouse.ttf");
}

/************ The navigation bar ***********/
/* body{
  border: 2px solid purple;
} */
.container{
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 50px;
}
.navbar {
    overflow: hidden;
    background:#BB0000;
    /* #0A002B */
    top: 0;
    margin: 0 auto;
    width: 100%;
}

/* Links inside the navbar */
.navbar a, .name, .logout{

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Wallpoet', cursive;
    font-size: 15px;
}

/* .logout{
  background-color: #BB0000;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Wallpoet', cursive;
    font-size: 15px;
    border: none;
} */
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.map-container{
  width: 70%;
  height: 300px;
  /* border: 1px black solid; */
}
.gov-map{
  width: 70%;
  height: 100%;
  margin: 20px auto;
}

.title{
  text-align: center;
  /* border: 1px solid green; */
  margin:45% auto;
  color: #BB0000;
  font-family: "moonhouse";
  font-size: 100px;
}
/**************** modals ***********/


.aroundLogReg ,.createGame, .playerModal{
z-index: 1000;
width: 100%;
height: 100%;
top: 0;
left: 0;
position: fixed;
background-color: rgba(0,0,0, .9);
/* rgba(13,0,38, .9) */
}

.signIn ,.postTitle{
  width: 40%;
  height: 40%;
  background-color: white;
  margin: 30vh auto;
}

p, .createtitle{
  color:#BB0000;
  font-family: 'Wallpoet', cursive;
  font-size: 25px;
}
.createtitle{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
}

.inputBox{
  margin: 10px auto;
  width: 100%;
}

.formtitle {
  font-size: 20px;
  text-align: center;
}

.all-players{
  width: 50%;
  height: 60%;
  background-color: white;
  margin: 25vh auto;
  overflow: scroll;
}
.userinfo{
color:#BB0000;
font-family: 'Encode Sans Semi Condensed', sans-serif;
font-size: 25px;
text-align: center;
margin: 10px auto;
}

.profile-img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 15px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #BB0000, rgba(0, 0, 0, 0));
    /*background-color: #729f98;*/
}






/*  */
