<div ng-if="ctrl.createGame">
  <h3 class="close" ng-click="ctrl.closeCreate()">x</h3>
  <h2>Post a Game</h3>
    <h4>Type of game</h4>
      <select >
        <option value="11v11">11v11</option>
        <option value="7v7">7v7</option>
        <option value="5v5">5v5</option>
        <option value="3v3">3v3</option>
      </select>
    <h4>Game Time</h4>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="What time?">
    </form>
    <h3>Location</h3>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="What field?">
    </form>
      <input class="button" type="submit" value="Create Game" />
</div>
