<div ng-include=" '/js/partials/profile.html' ">
</div>
<div ng-include=" '/js/partials/all.html' "></div>
<div ng-include=" '/js/partials/createagame.html' "></div>

<div>
  <h2>All Games</h2>
  <div class="allGames" ng-repeat='game in ctrl.games' class="map-container">
    <h2>{{game.title}}</h2>
    <h3>{{game.type}}</h3>
    <h3>{{game.time}}</h3>
    <h3>{{game.location}}</h3>
    <h3 class="name">Created by, {{game.username}} !</h3>
    <ng-map class="gov-map" zoom="15" center="{{ctrl.currentLocation}}">
      <!-- <map-data load-geo-json="events.json"></map-data> -->
      <marker position="{{ctrl.currentLocation}}" title="Your Location" animation="Animation.BOUNCE"></marker>
      <marker position="{{game.latlong}}" title="game" animation="Animation.BOUNCE"></marker>
    </ng-map>
  </div>
</div>
