<div ng-include=" '/js/partials/profile.html' ">
</div>
<div ng-include=" '/js/partials/all.html' "></div>
<div ng-include=" '/js/partials/createagame.html' "></div>

<div>
  <h2>All Games</h2>
  <div class="allGames" ng-repeat='game in ctrl.games'>
    <h2>{{game.title}}</h2>
    <h3>{{game.type}}</h3>
    <h3>{{game.time}}</h3>
    <h3>{{game.location}}</h3>
    <h3 class="name">Created by, {{game.username}} !</h3>
  </div>
</div>


<div class="map-container">
  <ng-map class="gov-map" zoom="10" center="51.5112139, -0.1198244">
    <map-data load-geo-json="events.json"></map-data>
  </ng-map>
</div>
